<div ng-include src="'App/Views/home.html'">
</div>
<form name="accountForm">
    <fieldset>
        <legend>Personal Details Form</legend>
        <table align="center" width="300">
            <br>
            <tr height="30">
                <td>Name :</td>
                <td ng-bind="vm.userDetails.data.name"></td>
            </tr>
            <tr height="30">
                <td>Address :</td>
                <td ng-bind="vm.userDetails.data.address"></td>
            </tr>
            <tr height="30">
                <td>DOB :</td>
                <td ng-bind="vm.userDetails.data.dob"></td>
            </tr>
            <tr height="30">
                <td>City :</td>
                <td ng-bind="vm.userDetails.data.city"></td>
            </tr>
            <tr height="30">
                <td>State :</td>
                <td ng-bind="vm.userDetails.data.state"></td>
            </tr>
            <tr height="30">
                <td>Country :</td>
                <td ng-bind="vm.userDetails.data.country"></td>
            </tr>
        </table>
    </fieldset>
</form>